@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  margin: 0;
}
.main-container {
  background-image: url(./media/plant.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.main-container::after {
  content: "";
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.507);
}
